@import "tailwindcss";

@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/assets/fonts/static/DMSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'DMSans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/static/DMSans-Medium.ttf') format('truetype');
}

@theme {

	--font-sans: "DMSans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-*: initial;
	--color-purple-100: hsl(254, 88%, 90%);
	--color-purple-500: hsl(256, 67%, 59%);
	--color-yellow-100: hsl(31, 66%, 93%);
	--color-yellow-500: hsl(39, 100%, 71%);
	--color-white: hsl(0, 0%, 100%);
	--color-gray-50: rgb(245 245 245);
	--color-black: hsl(0, 0%, 7%);
}